*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #F5FFFC;
}

.navbar-toggler-icon{
    background-color: black;
    border-radius: 5px;
}

.banner-img{
    background-image: url("assets/images/hero-pattern.svg");
}